<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <property name="LOG_HOME">D:/EAP-LOG/logs</property>
    </properties>
    <appenders>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/eap.log"
                     filePattern="${LOG_HOME}/eap-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"  modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>